@model IEnumerable<HomeChef.Models.Meal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MealTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isHoliday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HolidayMeal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHoliday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HolidayMeal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
