@model IEnumerable<HomeChef.Models.Meal>

@{
    ViewBag.Title = "Index";
}

<div id="categories" class="container-fluid bg-overlay">
    <div class="row">
        <h1>Categories</h1>
        <br />
        <h4>Chooce your meal path<br />Dinner?? Dessert?? Search anyway you want</h4>
        <br />
        <br />
    </div>
</div>

<div id="MealTime" class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {

        }
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MealTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isHoliday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HolidayMeal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHoliday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HolidayMeal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
